/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

/* App container styles */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header styles */
header {
  position: relative;
  background-color: #5c8374;
  color: white;
  padding: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Navigation styles */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 1em;
}

.logo-container{
  padding: .2em;
  background-color: #183d3d;
  position: absolute;
  border-bottom-left-radius:1em;
  top:0%;
  right: 0%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.logo-container img {
  width: 80px; /* Adjust the width as needed */
  object-fit: contain;
  height: 20px; /* Maintain aspect ratio */
 
}

/* Main content styles */
.main-content {
  border: 1px solid red;
  height: 100%;
   padding: 1em;
}

/* Footer styles */
footer {
  background-color: #183d3d;
  color: white;
  padding: 1em;
  font-weight: bold;
}

/* Button styles */
.css-button-3d--black {
  font-size: 0.8em;
  color: #fff;
  padding: 0.5em 1em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #04364a;
  box-shadow: 0 5px #212529;
}

.css-button-3d--black:hover {
  box-shadow: 0 3px #212529;
  top: 1px;
}

.css-button-3d--black:active {
  box-shadow: 0 0 #212529;
  top: 5px;
}

/* Playground area styles */
.playground-area {
  /* border: 1px solid red; */
  flex: 1;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Questions container styles */
.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 1em;
  min-height: 10em;
  min-width: 50vw;
}

/* Question content styles */
.questions-content {
  border-radius: .2em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

/* Question text styles */
.questions-text {
  flex: 1;
}

/* Question buttons styles */
.questions-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-buttons button {
  margin-bottom: 10px;
}

/* Question badge styles */
.question-badge {
  background-color: #183d3d;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

/* Audio controls styles */
.audio-controls {
  margin-block: 2em;
  flex: 1;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  max-height: 5em;
}

/* Button with shadow and border styles */
.css-button-shadow-border--black {
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #212529;
}

.css-button-shadow-border--black:hover {
  background-color: #343a40;
}

.css-button-shadow-border--black:active {
  top: 2px;
}

/* Next-prev container styles */
.next-prev-container {
  min-height: 2em;
  padding: 0.5em;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

/* Next-prev button styles */
.next-prev-button {
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #5c8374;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  margin: .1em;
}

.next-prev-button:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}
